In [1]:
import warnings
warnings.filterwarnings("ignore")

import random
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.impute import SimpleImputer
import missingno as mno
from sklearn import linear_model
%matplotlib inline
import seaborn as sns

In [6]:
df = pd.read_csv('./Olive_Oil_Data.csv',encoding='utf-8', sep=',',skiprows=[1])
df.head(7)

   Data (M of L)  Unnamed: 1 Unnamed: 2  Unnamed: 3 Unnamed: 4
0              1          57      63,9           67       65,2
1              2          63      42,9           74       65,0
2              3         114     103,2          116      111,8
3              4          96      98,8          175      178,3
4              5          77      87,0          125      127,4
5              6         119     121,4          170      175,9
6              7          67      46,1           99       93,2

In [9]:
df.corr()

               Data (M of L)  Unnamed: 1  Unnamed: 3
Data (M of L)       1.000000   -0.054426   -0.071169
Unnamed: 1         -0.054426    1.000000    0.732510
Unnamed: 3         -0.071169    0.732510    1.000000

In [14]:
df.describe()

       Data (M of L)  Unnamed: 1  Unnamed: 3
count     100.000000    100.0000  100.000000
mean       50.500000     86.2800  124.990000
std        29.011492     22.8186   36.806481
min         1.000000     45.0000   50.000000
25%        25.750000     66.7500   99.750000
50%        50.500000     86.5000  125.000000
75%        75.250000    104.5000  151.250000
max       100.000000    123.0000  195.000000

In [21]:
df.mean()

Data (M of L)     50.50
Unnamed: 1        86.28
Unnamed: 3       124.99
dtype: float64

In [22]:
df.std()

Data (M of L)    29.011492
Unnamed: 1       22.818600
Unnamed: 3       36.806481
dtype: float64

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Data (M of L)  100 non-null    int64
 1   Unnamed: 1     100 non-null    int64
 2   Unnamed: 2     100 non-null    object
 3   Unnamed: 3     100 non-null    int64
 4   Unnamed: 4     100 non-null    object
dtypes: int64(3), object(2)
memory usage: 4.0+ KB

In [16]:
df.columns()

TypeError: 'Index' object is not callable

In [ ]:
cabecera = ['Sample_number','Exp_prodctivity_sp_A', 'Obs_prodctivity_sp_A', 'Exp_prodctivity_sp_B', 'Obs_prodctivity_sp_B']
data.columns() = cabecera

In [12]:
#cabecera.head()

# Analizo la distribución: Shapiro Test

Aplico este test para saber si mis datos tienen una distribución no gaussiana

In [19]:
from scipy.stats import shapiro

stat, p = shapiro(df['Unnamed: 1'])
print('stat=%.3f, p=%.3f' % (stat, p))
print('El p-value es:', p)

print('-------------')

if p > 0.05:
    print('Probablemente gaussiana(h0)')
else:
    print('Probablemente no gaussiana(h1)')

stat=0.951, p=0.001
El p-value es: 0.001003835815936327
-------------
Probablemente no gaussiana(h1)

In [24]:
stat, p = shapiro(df['Unnamed: 3'])
print('stat=%.3f, p=%.3f' % (stat, p))
print('El p-value es:', p)

print('-------------')

if p > 0.05:
    print('Probablemente gaussiana(h0)')
else:
    print('Probablemente no gaussiana(h1)')

stat=0.979, p=0.121
El p-value es: 0.12072297930717468
-------------
Probablemente gaussiana(h0)

In [23]:
from statsmodels.stats.weightstats import ztest as ztest

In [25]:
ztest(df, value=100)

TypeError: unsupported operand type(s) for /: 'str' and 'int'

## P-Value

Un dato de una población con la media y la desviación típica de otra población.

# T test y Z test

https://towardsdatascience.com/z-test-statistics-formula-python-implementation-3755d67ba0e7

In [ ]:
from scipy import stats
test_stat, p_value  = stats.ttest_rel(data['New Patient Count'], df['Old Patient Count'], alternative = 'greater')  #Performing a paired t-test
print('The p-value is', p_value)